body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

main {
    width: 800px;
    margin: 0 auto;
}

header#main-header {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    padding: 0 0 0 3%;
    box-shadow: 0 0 5px rgba(48, 43, 48, 0.7);
}

ul#header-list {
    display: grid;
    grid-template-columns: 101px 56px 72px 90px 60px;
    grid-column-gap: 45px;
    list-style-type: none;
    height: 70px;
    line-height: 70px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    position: relative;
}

h1 {
    font-weight: 700;
    font-style: italic;
}

#fire {
    position: absolute;
    bottom: 0;
    right: 84px;
}

.article-heading {
    font-size: 45px;
    font-style: normal;
    margin: 35px 0 25px 0;
}

.article-description {
    font-size: 20px;
    font-style: italic;
}

figure {
    margin: 16px 0
}

.article-image {
    display: block;
    margin: 0 auto;
    width: 800px;
    max-height: 600px;
}

figcaption {
    display: block;
    margin: 0 auto;
}

.photo-description {
    font-size: 12px;
    color: #737373;
    font-weight: 700;
}

.photo-source {
    font-size: 10px;
    color: #737373;
}

.extra-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.author {
    font-weight: 700;
}

.social-nets {
    position: relative;
}

.social-nets ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 30px 30px 30px 30px;
    grid-column-gap: 15px;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0;
}

.social-nets ul li {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    opacity: 0.5;
}

.social-nets ul li:hover {
    cursor: pointer;
    background-color: #e6e6e6;
    opacity: 1;
}

.social-nets ul li img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}

hr {
    opacity: 0.7;
}

.main-info h3 {
    font-size: 27px;
    text-transform: uppercase;
}

h4 {
    font-size: 25px;
    text-transform: capitalize;
}

footer {
    border-top: 1px solid rgba(48, 43, 48, 0.5);
    position: relative;
    padding-bottom: 20px;
}

footer p {
    text-align: center;
    color: #737373;
}

footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    list-style-type: none;
    width: 600px;
    margin: 0 auto;
}

footer ul a {
    font-weight: 400;
    font-size: 15px;
    color: #737373;
}